[Unit]
Description=Run Django development server on port 8080

[Service]
User=%i
Restart=on-failure
WorkingDirectory=/home/%i/rt-env/rechentrainer
ExecStart=/home/%i/rt-env/bin/python /home/%i/rt-env/rechentrainer/manage.py runserver 0.0.0.0:8080

[Install]
WantedBy=default.target
