<h1>Wähle aus:</h1>

<h2>{{ note }}</h2>

<form action="{% url 'order' %}" method="POST">
{% comment %} <form enctype="multipart/form-data"{% url 'order' %}" method="POST">  {% endcomment %}
    {% csrf_token %}
    {{pizzaform}}
    <input type="submit" value="Bestellung aufgeben">
</form>

<br><br>

Möchtest du mehr als eine Pizza bestellen?

<form action="{% url 'pizzas' %}" method="get">
        {% csrf_token %}
        {{ multiple_form }}
        <input type="submit" value="Bestellung aufgeben">
</form>