<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        {% comment %} <label for="username"> Dein Name</label>
        <input id="username" name="username" type="text"> {% endcomment %}
        {{form}}
        <button type="submit">abschicken</button>
    </form>
</body>
</html>
