{% extends 'layout.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'core/aufgabe.css' %}">
<link rel="stylesheet" href="{% static 'core/includes/header_aufgabe.css' %}">
{% endblock %}



{% block content %}
<header>
    <h1>Der Rechentrainer</h1>
    <nav>
        <a href="{% url 'abbrechen' zaehler_id %}">Abbrechen</a>
        {% comment %} <a href="{% url 'uebersicht' %}">Hilfe</a>
        <a href="{% url 'loesung' eingabe_id %}">Lösung anzeigen</a> {% endcomment %}
    </nav>
</header>

<ul>
<h2>{{ kategorie.name }}:</h2>
{% if messages %}
<p>
    Letzte Antwort:
        {% for message in messages %}
            {% if 'Leider' in message.message %}
                <li style="background-color:rgba(255,0, 0,0.6);">{{ message }}</li>
            {% elif 'Richtig' in message.message %}
                <li style="background-color:rgba(0, 255, 0,0.6);">{{ message }}</li>                
            {% else %}
                <li style="background-color:rgba(255, 255,0.6);">{{ message }}</li>
            {% endif%}
        {% endfor %}
</p>
{% endif %}
<h3>Aufg. Nr. {{aufgnr}}/10 </h3> 
<h3>{{text}} {{aufgabe}}</h3>
<form action="{% url 'main' kategorie.slug %}" method="post">
    {% csrf_token %}
    <fieldset>
        {{ form.eingabe.label_tag }}
        {{ form.eingabe }}
        <input class="button-primary" type="submit" value="Prüfen">
    </fieldset>
</form>
<form action="{% url 'loesung' zaehler_id %}" method="get">
    <fieldset>
        <input class="button-primary" type="submit", name="loesung", value="Lösung anzeigen">
        <input class="button-primary" type="submit", name="hilfe", value="Hilfe anzeigen">
    </fieldset>
</form>
</ul>

{% endblock %}