{% extends 'layout.html' %}
{% load static %}
{% comment %} {% load svg %} {% endcomment %}
{% load l10n %}
{% load mathfilters %}


{% block css_files %}
<link rel="stylesheet" href="{% static 'core/aufgabe.css' %}">
<link rel="stylesheet" href="{% static 'core/includes/header_aufgabe.css' %}">
{% endblock %}

{% block content %}

<header>
    <h1>Der Rechentrainer</h1>
</header>
{% autoescape off %}

<ul>
<h2>
    {% if typ %}
        {{typ}}        
    {% else %}
        {{ kategorie.name }}
    {% endif%}</h2>
{% if messages %}
<p>
    {% for message in messages %}
        {% if 'leider' in message.message %}
            <li style="background-color:rgba(255,0, 0,0.6);">{{ message }}</li>
        {% elif 'richtig!' in message.message %}
            <li style="background-color:rgba(0, 255, 0,0.6);">{{ message }}</li>                
        {% else %}
            <li style="background-color:rgba(255, 255,0.6);">{{ message }}</li>
        {% endif%}
    {% endfor %}
</p>
{% endif %}
<h3>Aufg. Nr. {{aufgnr}}/10 </h3> 

<h3>{{text}} {{aufgabe}}</h3>
<p> {{ anmerkung }} </p>

<form action="{% url 'main' kategorie.slug %}" method="post">
    {% csrf_token %}
    <fieldset>
        {{ form.eingabe.label_tag }}
        {{ form.eingabe }}
        <input class="button-primary" type="submit" value="Prüfen">
    </fieldset>
</form>
{% endautoescape %}

{% comment %} <p> {{grafik.name}} </p> {% endcomment %}
{% if grafik.name %}
    {% include "svg/zahlenstrahl.svg" %} 
    {% comment %} {% include {{grafik.name|urlencode}} %}     {% endcomment %}
{% endif %}

<nav>
    <a href="{% url 'loesung' zaehler_id %}">Lösung anzeigen</a>
    <a href="{% url 'hilfe' zaehler_id protokoll_id %}" {% if not hilfe  %}disabled{% endif %}>Hilfe anzeigen</a>
    <a href="{% url 'abbrechen' zaehler_id %}">Abbrechen</a>
</nav>
</ul>
{% endblock %}