{% extends 'layout.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'core/details.css' %}">
{% endblock %}

{% block content %}
{% include "includes/header.html" %}

<h2>Details:</h2>

<ul>
    <li>ID: {{protokoll.id}}</li>

    <li>Datum: {{protokoll.start|date:"d.m.y H:i"}}</li>
    <li>Halbjahr: {{protokoll.halbjahr}}</li>

    <li>user: {{protokoll.user}}</li>
    <li>Jg: {{protokoll.user.jg}}</li>
    <li>Kurs: {{protokoll.user.kurs}}</li>
    <li>Stufe: {{protokoll.user.stufe}}</li>
    <br/>
    <li>Kategorie: {{protokoll.kategorie}}</li>
    <li>typ: {{protokoll.typ}}</li>
    <li>Frage: {{protokoll.text}}</li>
    <li>Ergebnis: {{protokoll.value|floatformat:"-3"}}</li>
    <li>Lösung: {{protokoll.loesung}}</li>
    <br/>
    <li>Eingabe: {{protokoll.eingabe}}</li>
    <li>Wertung: {{protokoll.wertung}}</li>
    <br/>
    <li>Aufgabe: {{protokoll.aufgnr}}</li>
    <li>richtig: {{zaehler.richtig}}</li>
    <li>falsch: {{zaehler.falsch}}</li>
    <li>ohne Fehler: {{zaehler.richtig_of}}</li>    
</ul>

{% endblock %}