{% extends 'layout.html' %}   
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'core/aufgaben.css' %}">
{% endblock %}

{% block content %}
{% include "includes/header.html" %}

{% if user.is_authenticated %}
Hallo {{ user.username }}!
<p><a href="{% url 'logout' %}">Log Out</a></p>
<p><a href="{% url 'password_reset' %}">Passwort zurücksetzen</a></p>
{% else %}
<p>Du bist nicht eingeloggt</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}

{% if messages %}
<p>
    Letzte Antwort:<br>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
</p>
{% endif %}
<li>
<h2> Wähle aus: </h2>
<ul>
{% for modul in kategorie %}
<li>
    <a  class="button" href="{% url 'main' modul.slug %}">{{ modul.name }}</a>
</li>
{% endfor %}
</li>
</ul>
{% endblock %}
