{% extends 'layout.html' %}   
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'core/aufgaben.css' %}">
{% endblock %}

{% block content %}
{% include "includes/header.html" %}

{% if messages %}
<p>
    Letzte Antwort:<br>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
</p>
{% endif %}
<li>
<h2> Wähle aus: </h2>
<ul>
{% for modul in module %}
<li>
    {% if modul.fragen.count %}
    <a  class="button" href="{% url 'main' modul.slug %}">{{ modul.name }}</a>
    {% else %}
    <button class="button" disabled>{{ modul.name }}</button>
    {% endif %}
</li>
{% endfor %}
</li>
</ul>
{% endblock %}
