{% extends 'layout.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'core/protokoll.css' %}">
{% endblock %}

{% block content %}
{% include "includes/header.html" %}

<h2>Protokoll:</h2>
<ul>
<table>
    <thead>
        <tr>
            <th>Datum</th>
            <th>Kategorie</th>
            <th>Aufgnr. (Typ)</th>
            <th>Aufgabe</th>
            <th>Ergebnis</th>
            <th>Eingabe</th>
        </tr>
    </thead>
    <tbody>
        {% for zeile in protokoll %}
            <tr>
                <td><a class="button" href="{% url 'details' zeile.id %}">{{zeile.start|date:"d.m.y H:i"}}</td>
                <td>{{zeile.kategorie|title}}</td>
                <td>{{zeile.aufgnr}} ({{zeile.typ}})</td>
                <td>{{ zeile.text|truncatewords:"20"}}</td>
                <td>{{zeile.value|floatformat:"-3"}}</td>
                {% if zeile.tries > 2 or 'abbr.' in zeile.eingabe  %}
                    <td style="background-color:rgba(255,0, 0,0.6);">{{zeile.eingabe}}</td>
                {% elif zeile.tries > 1 or zeile.eingabe == "Lsg." %}
                    <td style="background-color:rgba(255,255, 0,0.6);">{{zeile.eingabe}}</td>
                {% else %}
                    <td style="background-color:rgba(0,255, 0,0.6);">{{zeile.eingabe}}</td>
                {% endif%}
            </tr>
            {% comment %} {% empty %}
            <strong>Leider keine Kategorien vorhanden.</strong>                 {% endcomment %}
        {% endfor %}
    </tbody>
</table>
</ul>
{% endblock %}

