{% extends 'layout.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'core/protokoll.css' %}">
{% endblock %}

{% block content %}
{% include "includes/header.html" %}

<h2>Protokoll:</h2>

<ul>
    {% for zeile in protokoll %}
        <li><a class="button" href="{% url 'details' zeile.id %}">{{zeile.start|date:"d.m.y H:i"}} {{zeile.kategorie}} ({{ zeile.aufgnr}}): {{ zeile.text|truncatewords:"20"}} ({{zeile.value|floatformat:"-3"}}), Eingabe: {{zeile.eingabe}} ({{zeile.richtig}}/{{zeile.tries}}) {{zeile.bearbeitungszeit|floatformat:"0"}}sec</li>
        {% empty %}
        <strong>Leider keine Kategorien vorhanden.</strong>
    {% endfor %}
</ul>

{% endblock %}

