{% extends 'layout.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'core/protokoll.css' %}">
{% endblock %}

{% block content %}
{% include "includes/header.html" %}


<h2>Protokoll:</h2>

<ul>
    {% for modul in module %}
        <li>{{modul.start|date:"d.m.y H:i"}} {{modul.user}} {{modul.kategorie}} ({{ modul.aufgnr}}): {{ modul.text|truncatewords:"20"}} ({{modul.value|floatformat:"-3"}}), Eingabe: {{modul.eingabe}} ({{modul.richtig}}/{{modul.tries}}) {{modul.bearbeitungszeit}}sec</li>
        {% empty %}
        <strong>Leider keine Kategorien vorhanden.</strong>
    {% endfor %}
</ul>



{% endblock %}

