{% extends 'layout.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'core/uebersicht.css' %}">
{% endblock %}

{% block content %}
{% include "includes/header.html" %}

<h2>Übersicht {{user}}</h2>
<ul>
<table>
    <thead>
        <tr>
            <th>Kategorie</th>
            <th>richtig</th>
            <th>falsch</th>
            <th>Fehlerquote</th>
            <th>Aufg. ohne Fehler</th>
            <th>Abbrechen</th>
        </tr>
    </thead>
    <tbody>
        {% for zeile in uebersicht %}
            <tr>
                <th class="button" href="{% url 'main' zeile.kategorie.slug %}">{{zeile.kategorie|title}}</th>
                <td>{{zeile.richtig}}</td>
                <td>{{zeile.falsch}}</td>
                <td>{{zeile.quote|floatformat:"0"}}%</td>
                <td>{{zeile.richtig_of}}</td>
                <td>{{zeile.abbrechen}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</ul>
{% endblock %}