ul {
    list-style: none;
    margin: 0.2rem auto;
    width: 95%;
    max-width: 30rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #eeeeee;
  }
  
  li {
    margin: 0.2rem 0;
    text-align: left;
    font-size: 1rem;
    border-bottom: 1px solid #ccc;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
  
  
  li a {
    text-decoration: none;
    color: #383838;
  }
  
  li a:hover,
  li a:active {
    color: #7e0154;
  }