thead {
  background-color:lightgrey;
}

tbody {
  background-color:whitesmoke;
}

tr {
  text-align: center;
}

tr:nth-child(1n+1) {
    background-color: #B0E2FF;
    }

tr:nth-child(1n+8) {
    background-color: #9AFF9A;
}

th {
  padding:0.5rem 1rem;
  height: 3rem;
}

td {
  padding:0.5rem 1rem;
  height: 1rem;
}

ul {
    list-style: none;
    margin: 0.2rem auto;
    width: 50%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #eeeeee;
  }
  
  li {
    margin: 0.2rem 0;
    text-align: left;
    font-size: 1rem;
    border-bottom: 1px solid #ccc;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
    
  li a {
    text-decoration: none;
    color: #383838;
  }
  
  li a:hover,
  li a:active {
    color: #7e0154;
  }

  table {
    table-layout: fixed;
    width: 100%;
 }
